<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.9.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
 <name>sfSlovenianPlugin</name>
 <channel>plugins.symfony-project.org</channel>
 <summary>Slovenian translations.</summary>
 <description>Slovenian translations of core Symfony messages (required, yes or no, is empty, etc).</description>
 <lead>
  <name>Peter Kokot</name>
  <user>maastermedia</user>
  <email>peter.kokot@m-m.si</email>
  <active>yes</active>
 </lead>
 <date>##CURRENT_DATE##</date>
 <version>
  <release>##PLUGIN_VERSION##</release>
  <api>##API_VERSION##</api>
 </version>
 <stability>
  <release>##STABILITY##</release>
  <api>##STABILITY##</api>
 </stability>
 <license uri="http://www.symfony-project.org/license">MIT License</license>
 <notes>-</notes>
 <contents>
  <dir name="/">
   <file md5sum="C4CD7E44D8BC389A75B0119E7AFC3E20" name="LICENSE" role="data" />
   <file md5sum="1F2767EC8A30C022E11539F5F38B0E1E" name="README" role="data" />
   <dir name="i18n">
    <file md5sum="B1D12CE0C10852A51EA48E4B62FFA4C7" name="messages.sl.xml" role="data" />
   </dir>
  </dir>
 </contents>
 <dependencies>
  <required>
   <php>
    <min>5.2.4</min>
   </php>
   <pearinstaller>
    <min>1.4.1</min>
   </pearinstaller>
   <package>
    <name>symfony</name>
    <channel>pear.symfony-project.com</channel>
    <min>1.4.0</min>
    <max>2.0.0</max>
    <exclude>2.0.0</exclude>
   </package>
  </required>
 </dependencies>
 <phprelease/>
 <changelog>
  <release>
   <version>
    <release>0.1.1</release>
    <api>0.1.1</api>
   </version>
   <stability>
    <release>alpha</release>
    <api>alpha</api>
   </stability>
   <license uri="http://www.symfony-project.org/license">MIT License</license>
   <date>2010-11-16</date>
   <notes>
    * maastermedia: new translation added in messages.sl.xml
   </notes>
  </release>
  <release>
   <version>
    <release>0.1.0</release>
    <api>0.1.0</api>
   </version>
   <stability>
    <release>alpha</release>
    <api>alpha</api>
   </stability>
   <license uri="http://www.symfony-project.org/license">MIT License</license>
   <date>2010-08-14</date>
   <notes>
    * maastermedia: initial release
   </notes>
  </release>
 </changelog>
</package>